*,
::after,
::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.5s linear;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
